* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
  font-family: "Exo", sans-serif;
}
p {
  margin-bottom: 0;
  margin: 0;
}
.container {
  width: 85%;
}
.testimonials .container,
.faq .container {
  width: 65%;
}
header .container {
  width: 55%;
}
@media screen and (max-width: 900px) {
  header .container,
  .testimonials .container,
  .faq .container {
    width: 90%;
  }
}
form input:focus,
form select:focus {
  outline: 1px solid var(--btn-bg);
  border: 2px solid var(--btn-bg) !important;
}
input::placeholder,
form select option {
  font-size: 14px;
  color: var(--color-gray);
}
header form select {
  appearance: unset;
}
::selection {
  background-color: #a684ff;
  color: white;
}
.w-li-item {
  width: 250px;
}
.h-20 {
  height: 75px;
}
div img {
  width: 100%;
}
:root {
  --main-color: #7c3aed;
  --main-bg-purble: oklch(49.6% 0.265 301.924);
  --btn-bg: #871efd;
  --bg-footer: #511795;
  --bg-green: #00a63e;
  --bg-orange: #e17100;
  --color-gray: #4a5565;
  --btn-light-bg: #ede9fe;
  --bg-lightgreen: #dbfce7;
  --color-purple: #9810fa;
  --bg-lightpurple: #b25efc7f;
  --bg-puple: #f3e8ff;
  --bg-lightorange: #fef9c2;
  --bg-lightblue: #e0e7ff;
  --color-blue: #4f39f6;
  --bg-section: #f9fafb;
  --bg-card: #f7f8f9;
  --pink-text: #e60076;
  --dark-gray: #364153;
  --icon-red: red;
}
.bg-section {
  background-color: var(--bg-section);
}
.bg-card {
  background-color: var(--bg-card);
}
.color-gray {
  color: var(--color-gray);
}
.dark-gray {
  color: var(--dark-gray);
}
.bg-gray {
  background-color: var(--dark-gray);
}
.text-main-color {
  color: var(--main-color);
}
.bg-footer {
  background-color: var(--bg-footer);
}
.btn-bg {
  background-color: var(--btn-bg);
}
.btn-light-bg {
  background-color: var(--btn-light-bg);
}
.color-light {
  color: var(--btn-light-bg);
}
.bg-green {
  background-color: var(--bg-green);
}
.color-green {
  color: var(--bg-green);
}
.bg-lightgreen {
  background-color: var(--bg-lightgreen);
}
.color-purple {
  color: var(--color-purple);
}
.bg-purple {
  background-color: var(--bg-puple);
}
.color-lightpuple {
  color: var(--bg-puple);
}
.btn-purple {
  background-color: var(--color-purple);
}
.bg-lightpurple {
  background-color: var(--bg-lightpurple);
}
.main-bg-purble {
  background-color: var(--main-bg-purble);
}
.color-orange {
  color: var(--bg-orange);
}
.bg-orange {
  background-color: var(--bg-orange);
}
.bg-lightorange {
  background-color: var(--bg-lightorange);
}
.color-blue {
  color: var(--color-blue);
}
.bg-blue {
  background-color: var(--color-blue);
}
.bg-lightblue {
  background-color: var(--bg-lightblue);
}
.pink-text {
  color: var(--pink-text);
}
.p-w {
  max-width: 700px;
}
/*=========== start nav ========= */
nav .navbar-nav .nav-link.active {
  color: var(--main-color);
}
nav .navbar-nav .nav-link {
  position: relative;
  margin-right: 15px;
  font-size: 16pxpx;
}
nav .navbar-nav .nav-link:hover {
  color: var(--btn-bg);
}
nav .nav-item {
  position: relative;
}
nav .nav-item .nav-link:not(.active)::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
}
nav .nav-item .nav-link:hover::after {
  width: 80%;
}
nav .nav-item .active {
  position: relative;
}
nav .nav-item .active::after {
  content: "";
  width: 75%;
  height: 2px;
  position: absolute;
  background-color: var(--main-color);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* start dropdown  */
.navbar-expand-lg .navbar-nav .dropdown-menu {
  width: 1100px;
  padding: 20px;
  left: -600px;
}
.w-img {
  width: 60px;
}
.first-img {
  background-image: url(https://images.unsplash.com/photo-1522083165195-3424ed129620);
  background-position: center;
  background-size: cover;
  height: 75px;
  position: relative;
}
.second-img {
  background-image: url(https://images.unsplash.com/photo-1501594907352-04cda38ebc29);
  background-position: center;
  background-size: cover;
  height: 75px;
}
.third-img {
  background-image: url(https://images.unsplash.com/photo-1537996194471-e657df975ab4);
  background-position: center;
  background-size: cover;
  height: 75px;
}
.cover {
  background-image: linear-gradient(#8029cd9b);
}
.second-img:hover .cover , .third-img:hover .cover ,.first-img:hover .cover {
  background-image: linear-gradient(#5015849b);
  cursor: pointer;
}
.inside-text
{
  cursor: pointer;
}
.dropdown-card:hover {
  background-color: var(--bg-section);
}
.p-verysmall {
  font-size: 12px;
}
.dropdown .dropdown-list li:hover span {
  color: var(--color-purple);
}
.dropdown .dropdown-left-card:hover .card-head1 {
  color: var(--color-purple);
}
.dropdown .dropdown-left-card:hover .card-head2 {
  color: var(--bg-green);
}
.dropdown .dropdown-left-card:hover .card-head3 {
  color: var(--color-purple);
}
.fa-arrow-right {
  transition: transform 0.4s;
}
.dropdown .dropdown-left-card:hover .fa-arrow-right {
  transform: translateX(10px);
}
/* end dropdown */
/* end nav */
/*================ strat header ==============*/
header {
  background-image: linear-gradient(#44257ac0),
    url(https://storage.googleapis.com/uxpilot-auth.appspot.com/4a713135fa-60a8ac99fc66b07ce395.png);
  min-height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.header-text {
  padding-top: 90px;
}
.header-btn:hover {
  background-color: var(--bg-footer);
}
/*========== end header ===========*/
/* =================== style headings =============== */
.main-text span {
  padding: 8px 20px;
  border: 2px solid #ddd6ff;
  background-color: #faf5ff;
  font-size: 13px;
  position: relative;
}
.main-text span::after {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(
    to right,
    var(--main-color) 40%,
    transparent
  );
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 20px);
}
.main-text span::before {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(
    to left,
    var(--main-color) 40%,
    transparent
  );
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 20px);
}
.testimonials .main-text span::after {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(to right, #f89460 30%, transparent);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 20px);
}
.testimonials .main-text span::before {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(to left, #f89460 30%, transparent);
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 20px);
}
.main-text h2 {
  background-image: linear-gradient(to right, var(--btn-bg) 50%, #fb9800 65%);
  color: transparent;
  background-clip: text;
}
.faq .main-text h2 {
  background-image: linear-gradient(
    to right,
    #7f22fd 20%,
    #7108e7 40%,
    #970ffa 80%
  );
  color: transparent;
  background-clip: text;
}
/* =============== end headings =========== */
/*========== start properties ===========*/
.img-card {
  overflow: hidden;
  height: 260px;
}
.card-img-top {
  transition: transform 0.3s;
}
.inner:hover .card-img-top {
  transform: scale(1.1);
  cursor: pointer;
}
.card-txt {
  left: 20px;
  top: 15px;
  padding: 5px 10px;
  font-size: 14px;
}
.card-img {
  width: 35px;
  height: 35px;
}
.heart-icon {
  right: 25px;
  top: 15px;
  padding: 10px 6px;
  background-color: white;
}
.heart-icon:hover {
  color: var(--icon-bg-color);
}
.camera-icon {
  bottom: 10px;
  left: 20px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.635);
  font-size: 14px;
}
.p-small {
  font-size: 14px;
}
.p-semi-small {
  font-size: 18px;
}
.card-shadow {
  box-shadow: 5px 5px 5px rgba(223, 219, 219, 0.808);
}
/*========== end properties ===========*/
/*========== start service===========*/
.outer-content {
  left: -20px;
  bottom: -20px;
}
.outer-content1 {
  left: -20px;
  bottom: -20px;
}
.outer-content2 {
  right: -15px;
  bottom: -20px;
}
.outer-content,
.outer-content1,
.outer-content2 {
  box-shadow: 3px 3px 5px rgba(118, 117, 117, 0.808);
}
.tab-img {
  width: 85%;
  height: 350px;
}

.service .nav-tabs .nav-link:focus,
.service .nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--btn-bg) !important;
}
.service .nav-link:hover,
.service .nav-tabs .nav-link:focus,
.service .nav-tabs .nav-link.active {
  color: var(--main-color);
}
.service .nav-tabs .nav-link.active {
  background-color: var(--btn-light-bg) !important;
}
.service .nav-link:hover {
  border-bottom: 2px solid #c4b4ff !important;
}
.p-slide {
  font-size: 18px;
}
.fs-bolder {
  font-size: 20px;
}
/*========== end service===========*/
/* ========= start testimonials ====== */
.testimonials {
  background-image: linear-gradient(
    to right,
    #4e179a 20%,
    #541792 40%,
    #56178f 80%
  );
}
.carousel-img {
  width: 65px;
  height: 65px;
}
.carousel-indicators .carousel-btn {
  width: 12px;
  height: 12px;
  background-color: #7c3aed;
  border-radius: 50%;
  background-color: white;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7245adde;
}
.carousel-control-prev {
  left: -10%;
}
.carousel-control-next {
  right: -10%;
}
.testimonials span .fa-star {
  color: #ffb900;
  font-size: 20px;
}
.testimonials .carousel-item {
  height: 100%;
}
/* ========= end testimonials ====== */
/*============= start fsq ===========*/
.accordion-button:focus {
  display: none;
}
.accordion-button:hover {
  background-color: var(--bg-section);
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
}
.accordion-item {
  box-shadow: 4px 4px 5px rgba(225, 221, 221, 0.895);
}
/* .carousel-item {
  height: 320px;
} */
/*============= end fsq ===========*/
/* ======== start contact ========== */
.contact .location-dot {
  background-image: linear-gradient(120deg, #e346e9 10%, #f99335);
}
.contact .inner {
  transition: transform 0.4s;
}
.contact .four-card .inner:hover {
  transform: translateY(-10px);
}
.icon-scale {
  width: fit-content;
  transition: transform 0.4s;
}
.contact .four-card .inner:hover .icon-scale {
  transform: scale(1.1);
}
.border-darkpurple,
.border-lightpurple,
.border-pink,
.border-blue {
  border: 2px solid #f3f4f6;
  transition: hover 0.5s;
}
.border-darkpurple:hover {
  border-color: #c4b4ff;
}
.border-lightpurple:hover {
  border: 2px solid #dab2ff;
}
.border-pink:hover {
  border: 2px solid #f4a8ff;
}
.border-blue:hover {
  border: 2px solid #a3b3ff;
}
.contact input::placeholder,
.contact select::placeholder {
  color: var(--color-gray);
}
.contact input,
.contact select,
.contact textarea {
  background-color: #f9fafb;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
input[type="checkbox"]:hover,
label[for="check"] {
  cursor: pointer;
}
.contact .section-border {
  border: 2px solid #f3f4f6;
}
select:hover {
  cursor: pointer;
}
.form-control:focus,
.form-select:focus {
  outline: 2px solid var(--bg-lightpurple);
  border-color: var(--bg-footer);
  box-shadow: none;
}
.btn-second-form {
  transition: transform 0.5s;
}
.btn-second-form:hover {
  transform: translateY(-5px);
}
.contact ul li span {
  display: inline-block;
  transition: all 0.4s;
}
.contact ul li span:hover {
  transform: scale(1.1);
  background-color: #b45cfc;
  cursor: pointer;
}
.contact form span {
  color: red;
}
.mobile-number:hover {
  cursor: pointer;
}
/* ======== end contact ========== */
/* ========= start footer ========= */
.footer-border {
  border-bottom: 1px solid var(--bg-lightpurple);
}
footer .fa-heart {
  color: #ff6467;
}
footer ul li span {
  transition: all 0.4s;
  display: inline-block;
}
footer ul li span:hover {
  background-color: var(--btn-bg);
  transform: scale(1.1);
  cursor: pointer;
}
.p-smaller {
  font-size: 12px;
}
/* ========= end footer ========= */
.big {
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 110px;
  left: 120px;
  z-index: 10;
}
.small {
  width: 95%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.865);
}
.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -120px;
  left: -90px;
}
.big-circle {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 130px;
  z-index: 10;
}
.small-circle {
  width: 95%;
  height: 95px;
  background-color: rgba(255, 255, 255, 0.865);
}
.circle-top {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -100px;
  right: -100px;
}
